@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header__slider {
	&-item {
		height: 100vh;
		background-image: url(../img/header-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
	}
}

.slider-item__info {
	position: absolute;
	right: 80px;
	bottom: 116px;
	text-align: right;
	text-transform: uppercase;
}

.slider-item__info-suptitle {
	margin-bottom: 5px;
}

.slider-item__info-suptext {
	margin-bottom: 8px;
}

.slider-item__info-title {
	font-weight: 800;
	font-size: 80px;
	line-height: 86px;
	margin-bottom: 48px;
}

.slider-item__info-text {
	font-weight: 800;
	font-size: 40px;
	line-height: 86px;	
}

.slider-arrows {
	z-index: 4;
	position: absolute;
	top: 40px;
	right: 80px;
	cursor: pointer;
}

.slider-arrows__left {
	right: 125px;
}

.slider-dotshead {
	position: absolute;
	right: 50px;
	bottom: 36px;
	max-width: 920px;
	width: 100%;
	.slick-current {
		.dots-box {
			border-top: 4px solid $green;
		}
	}
}

.dots-box {
	width: 200px;
	display: flex;
	justify-content: space-between;
	height: 28px;
	align-items: center;
	padding-top: 6px;
	border-top: 4px solid #fff;
	&__number {
		font-weight: 800;
		font-size: 24px;
		line-height: 34px;
	}
	&__name {
		text-transform: capitalize;
		font-weight: 300;
		line-height: 19px;
	}
}

.header__aside {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	border-right: 1px solid rgba(#fff, .25);
	height: 100vh;
	text-align: center;
}

.header__title {
	max-width: 467px;
	font-weight: 800;
	font-size: 200px;
	line-height: 156px;
	text-transform: uppercase;
	opacity: 0.07;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
}

.menu {
	padding-top: 40px;
	span {
		display: block;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 3px;
		padding-top: 6px;
		margin-bottom: 28px;
		text-transform: capitalize;
	}
}

.header__date {
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 64px;
	span{
		padding-top: 15px;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 1.4px;
		margin-bottom: 30px;
		display: block;
	}
}

.header__location {
	display: inline-block;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 1.05px;
	position: relative;
	padding-left: 19px;
	text-transform: capitalize;
	&::before {
		content: '';
		position: absolute;
		width: 11px;
		height: 13px;
		background-image: url(../img/marker.svg);
		left: 0;
		top: 0;
	}
}

.header__search {
	padding-top: 15px;
	padding-bottom: 35px;
}

.header__map {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
}

.header__arrows {
	position: absolute;
	left: 210px;
	bottom: 40px;
	z-index: 3;
}

.header__line {
	stroke-dashoffset: 600;
	stroke-dasharray: 600;
	animation: animdash 6s infinite 6s;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
}

.surf {
	background-image: url(../img/surf-bg.svg);
	background-position: right top 200px;
	background-repeat: no-repeat;
	background-size: auto;
}

.surf__subtitle {
	text-align: right;
	padding-right: 80px;
	margin-top: -86px;
}

.surf-slider {
	padding-top: 110px;
	.slider-arrows {
		top: 50px;
		opacity: .25;
	}
	.slick-slide:nth-child(4n + 1) {
		.surf-box {
			margin-top: 32px;
		}
	}
	.slick-slide:nth-child(4n + 3) {
		.surf-box {
			margin-top: 89px;
		}
	}
	.slick-slide {
		&:hover{
			.surf-box__inner-btn {
				display: block;
			}
			.surf-box__inner {
				background: rgba(#1C2121, .3);
				transition: all 1s;
			}
		}

	}
}

.surf-box {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__inner {
		min-height: 750px;
		background: rgba(#1C2121, .85);
		position: relative;
	}
}

.surf-box__inner-title {
	font-weight: 800;
	font-size: 40px;
	line-height: 36px;
	padding: 75px 0 0 40px;
	width: 140px;
}

.surf-box__inner-location {
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 8px;
	transform: rotate(-90deg);
	position: absolute;
	left: 40px;
	bottom: 80px;
	width: 0;
	height: 0;
	white-space: nowrap;
	span {
		font-weight: 100;
	}
}

.surf-box__inner-btn {
	position: absolute;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	display: none;
}

@keyframes animdash {
	to {
		stroke-dashoffset: 0;
	}
}

.slider-map {
	max-width: 1200px;
	min-height: 635px;
	background-image: url(../img/world-map-dots.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	.slick-list {
		min-height: 635px;
	}
	.slick-current {
		.slider-dots__content {
			display: block;
			width: 285px;
			padding: 28px 31px 0 32px;
		}
	}
}

.slider-dots__content-row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}

.slider-dots__content-item {
	text-align: center;
	img {
		margin-bottom: 7px;
	}
}

.slider-dots__content-number {
	font-weight: 800;
	font-size: 16px;
	line-height: 23px;
}

.slider-dots__content-name {
	font-weight: 300;
	font-size: 10px;
	line-height: 12px;
}

.slider-dots__content-title {
	font-weight: 800;
	font-size: 18px;
	line-height: 26px;
	padding-bottom: 8px;
	margin-bottom: 8px;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		background-color: $green;
		width: 80px;
		height: 1px;
		bottom: 0;
		left: 0;
	}
}

.slider-dots__content-subtitle {
	font-size: 16px;
	line-height: 19px;
	text-transform: capitalize;
}

.slider-dots__circle {
	width: 23px;
	height: 23px;
	background-color: $green;
	border-radius: 50%;
}

.slider-dots__content {
	display: none;
	background-color: rgba(#0F1010, .7);
	border-radius: 6px;
	position: absolute;
	bottom: 35px;
	transform: translateX(-47%);
	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 20px solid $green;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		bottom: -21px;
		left: 47%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}

.slider-dots {
	position: relative;
}

.slider-dots--1 {
	top: 335px;
	left: 0;
	.slider-dots__content{
		transform: translateX(0%);
		&::before{
			left: 0;
		}
	}
}
.slider-dots--2 {
	top: 270px;
	left: 0;
	.slider-dots__circle {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background-image: url(../img/mini-marker.png);
			width: 14px;
			height: 17px;
			background-size: cover;
			right: -15px;
			top: -25px;
		}
	}
}
.slider-dots--3 {
	top: 330px;
	left: 25px;
}
.slider-dots--4 {
	top: 470px;
	left: -25px;
}
.slider-dots--5 {
	top: 230px;
	left: -65px;
}
.slider-dots--6 {
	top: 550px;
	left: -120px;	
}
.slider-dots--7 {
	top: 375px;
	left: -95px;
}
.slider-dots--8 {
	top: 470px;
	left: 35px;
	.slider-dots__content{
		transform: translateX(-100%);
		&::before{
			left: 100%;
		}
	}
}

.holder {
	background-image: url(../img/travel-bg.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	.slider-arrows {
		top: 225px;
		opacity: .5;
	}
}

.holder-slider {
	&__head {
		background-repeat: no-repeat;
		background-position: top left;
		min-height: 780px;
	}
	&__descr {
		padding: 160px 0 0 132px;
		min-height: 320px;
		margin-top: -230px;
		background-repeat: no-repeat;
		background-position: right center;
		.descr__head {
			position: relative;
			padding-right: 78px;
			img {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		.descr__head--sleep {
			position: relative;
			padding-right: 215px;
			.holder__star-list {
				position: absolute;
				right: 0;
				top: 0;
				li {
					display: inline-block;
					margin-left: -25px;
				}
				img {
					position: static;
				}
			}
		}
	}
	&__subtitle {
		text-align: right;
		padding-right: 80px;
		padding-top: 132px;
	}
	&__btn {
		text-align: center;
	}
}

.holder-slider__info {
	display: flex;
	justify-content: space-around;
}

.holder-slider__info-item {
	min-height: 200px;
	margin-bottom: 66px;
	position: relative;
}

.holder-slider__info-subtitle {
	position: absolute;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 8px;
	opacity: 0.5;
	transform: rotate(-90deg);
	top: 97px;
	left: -97px;
	text-align: right;
	width: 200px;
	height: 0;
	white-space: nowrap;
}

.holder-slider__info-title {
	font-weight: 800;
	font-size: 40px;
	line-height: 36px;
	padding-left: 40px;
	position: relative;
	span {
		position: absolute;
		font-size: 14px;
		line-height: 0;
		text-align: right;
		letter-spacing: 5.25px;
		opacity: 0.75;
		font-weight: 400;
		bottom: -8px;
		right: 0;
	}
}

.holder {
	padding-bottom: 265px;
}

@import "media";
